body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', 'Sans Serif';
    margin: 0;
    padding: 0;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    background-color: #00557b;
    padding: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 0px auto;
}

h1, h2 {
    font-weight: 300;
}

header > h1 {
    font-weight: 300;
    font-size: 24px;
    margin: 0;
    color: #FFFFFF;
}

h2 {
    font-size: 24px;
    margin: 24px 0;
}

.content {
    position: relative;
    padding: 20px;
}

.calc-card {
    width: 33%;
    min-height: 400px;
    padding: 10px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
}

.calc-card-circle-container {
    position: relative;
    display: inline-block;
    width: 50%;
    margin: 10px auto;
}

.coin-counter-badge,
.coin-counter-circle {
    height: 0;
    border-radius: 50%;
    line-height: 0;
    text-align: center;
}

.coin-counter-badge {
    z-index: 2;
    position: absolute;
    top: 6%;
    right: 18%;
    width: 24%;
    padding: 12% 0;
    font-size: 14px;
    color: #ffffff;
    background: #222222;
}

.coin-counter-circle {
    z-index: 1;
    position: relative;
    width: 80%;
    padding: 40% 0;
    font-size: 28px;
    color: #878787;
    background: #d8d8d8;
}

.coin-counter-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    background-color: #00557b;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    color: white;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    overflow: hidden;
}

.form > div {
    display: inline-block;
    width: 50%;
    margin: 6px 0;
}

.calc-value-form {
    width: 50%;
    height: 24px;
    padding: 3px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: none;
}

@media only screen and (max-width: 959px) and (min-width: 0) {
    .calc-card {
        width: 90%;
    }
}
